.formulario{
    display: flex;
    justify-content: center;
    padding: 64px;
}

.fotoFormulario{
    display: block;
    width: 464px;
    height: 570px;
}

.formulario__texto{
    width: 60vh;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 32px;
}

.formulario__contacto___texto{
    border: transparent;
    height: 56px;
    margin: 10px 0px; 
    width: 100%;
}
.formulario__contacto___texto::placeholder{
    color: #2a7aea;
}

.formulario__contacto___texto:focus{
    border-bottom: solid 2px #2a7aea; 
}

.formulario__texto label{
    display:none;
}

.botonEnviar{
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #2a7aea;
    color: white;
    margin: 25px 0;
}

@media screen and (max-width: 360px){
    .fotoFormulario{
        display: none;
    }

    .formulario {
        display: block;
        justify-content:center;
        align-items: flex-start;
        padding-top: 3rem;
        margin-left: 0%;
    }
        
    .formulario__contacto___texto{
        display: block;
        margin-bottom: 1rem;
        width: 200px;
    }
    .botonEnviar{
        width: 50%;
    }

}


@media screen and (max-width: 768px){
    .fotoFormulario{
        display: none;
    }

    .formulario {
        display: block;
        justify-content:center;
        align-items:center;
        padding-top: 3rem;
        margin-left: 0%;
    }    
  
    .formulario__contacto___texto{
        display: block;
        margin-bottom: 1rem;
        width: 200px;
    }
    .botonEnviar{
        width: 50%;
    }

}


