.enlaces {
    background: #f5f5f5;
    margin-top: 2em;
    padding: 2em;
}

.enlaces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fotosenlace{
    border-radius: 100%;
    float: center;
    height: 50px;
    width:50px;
}

.fotosenlace:hover{
    box-shadow: 3px 3px 10px 5px #999999;
    cursor: pointer;
    height: 75px;
    opacity: 50%;
    transition: 500ms;
    width:75px;
}
